* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;

}
body {
    background-color: rgb(188, 188, 188);
}
#box {
    /* border: 2px solid black; */
    /* margin: 10px; */
    /* padding: 5px 5px; */
    background-color: rgb(188, 188, 188);
}

.navbar {
    background-color: rgb(57, 63, 62);
    border-radius: 10px 10px 0px 0px;
    font-size: 25px;
}

.navbar ul {
    overflow: auto;
}

.navbar li {
    float: left;
    list-style: none;
    margin: 30px 80px;
}

.navbar li a {
    padding: 3px 3px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-decoration: underline red 4px;
}

#button {
    background-color: rgb(211, 211, 211);
    margin: -24px 0px;
    text-decoration: none;
}

#img1 {
    transform: scaleX(-1); 
    width: 100%;
    margin: -25px 0px;
    padding: 0px 0px;
}

@font-face {
    font-family: myFirstFont;
    src: url(Resources/Butler_Bold.otf);
  }

#head1 {
    text-align: right;
    position: relative;
    bottom: 800px;
    right: 50px;
    font-family: myFirstFont;
    font-size: 80px;
}

/* #para1 {
    text-align: right;
    position: relative;
    bottom: 850px;
    right: 50px;
    font-size: 30px;
} */

.logo {
    width: 75px;
    height: 75px;
    position: relative;
    bottom: 850px;
    right: -927px;
    margin: 0px 43px;
}

.sec2 {
    background-color: rgb(188, 188, 188);
    margin: 10px 10px;
}

#head2 {
    text-align: right;
    position: relative;
    bottom: 430px;
    right: 370px;
    font-family: myFirstFont;
    font-size: 80px;
    color: rgb(57, 63, 62);
    text-decoration: underline;
}
  
* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #f1f1f1;
    padding: 20px;
    font-family: Arial;
  }
  
  .main {
    max-width: 1000px;
    margin: auto;
  }
  
  h1 {
    font-size: 50px;
    word-break: break-all;
  }
  
  .row {
    margin: 8px -16px;
  }
  
  .row,
  .row > .column {
    padding: 8px;
  }
  
  .column {
    float: left;
    width: 25%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .content {
    background-color: white;
    padding: 10px;
  }
  
  @media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

  .container{ 
    margin: -498px 90px;

    /* display: inline-block; */
}
.container .box1{

    position: relative;
    width: 30%;
    height: 800px;
    background-color: #fe4557;
    float :left;
    margin:15px;
    align-items: center; 
}
.container .box2{

    position: relative;
    width:30%;
    height: 800px;
    background-color: #393f3e;
    float :left;
     margin: 15px; 
     align-items: center;
}
.container .box3{

    position: relative;
    width: 30%;
    height: 800px;
    background-color: #fe4557;
    float :left;
    margin: 15px; 
    align-items: center;
}
.img1{
    
    width: 40%px;
    height: 200px;
    padding: 0% ;
margin: 0px 0px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
p{
    text-align: left;
    color: white;
    margin-top: 0px;
padding: 13px;
}
.container .box1 h1{
    text-align: left;
    text-decoration: none;
    margin-left: 7px;
    color: #393f3e;
}
.container .box2 h1{
    text-align: left;
    text-decoration: none;
    margin-left: 7px;
    color: #fe4557;
}
.container .box3 h1{
    text-align: left;
    text-decoration: none;
    margin-left: 7px;
    color:#393f3e;
}
.btn1{
background-color:#393f3e ;
align-items: left;
margin-left: 10px;
color: white;
height: 5%;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn2{
    background-color: #fe4557;
    align-items: left;
    margin-left: 10px;
    color: white;
    height: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

#imgg {
        display: inline-block;
        position: relative;
        width: 350px;
        height: 300px;
        overflow: hidden;
        border-radius: 50%;
    }

    #imgg:hover {
        box-shadow: 0 0 5px 1px black;
    }

    .box
    {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: 2100px auto;
        transform: translate(-50%,-50%);
        width: 1000px;
        padding: 20px;
        box-sizing: border-box;
        background-color: #FF4557;
        display: flex;
        
    }
    
    .box .imgbox
    {
        width: 150 px;
        flex: 0 0 150px;
    }
    
    .box .content
    {
        padding-left: 20px;
    }
    
    .box .content h1{
    
        margin: 0;
        padding-left: 0;
        font-family: 'Andika New Basic', sans-serif;
        /* font-size: 25px; */
        color: #393F3E;
    }
    .box .content h2{
    
        margin: 0;
        padding-left: 0;
        font-family: 'Andika New Basic', sans-serif;
        /* font-size: 25px; */
        color: #393F3E;
    }
    .box .content P
    {
        margin: 0;
        padding-left: 10PX 0 0;
        font-size: 20px;
        color: white;
        text-align: justify;
    }
    
    .box.content
    {
        text-align: center;
        margin-top: 360px;
    }
    
    .bt1
    {
        border: 1px solid #3498db;
        background-color: #393f3e;
        padding: 10px 20px;
        font-size: 20px;
        font-family: "montseerat";
        
        cursor: pointer;
        margin: 20px;
    
    }